body{
	margin-top: 70px;
	background-color: #eee;
}

.navbar-inverse .navbar-brand{
	font-weight: bold;
	color: #fff;
}

.list-info{
	font-size: 11px;
}

h2.title-list{
	font-size: 14px;
	margin: 0;
}

.panel{
	border-radius: 0;
}

.detail-redirect{
	margin-top: 10px;
}

h1.home-title{
	margin-top: 0px;	
}